{% extends "homepage.html" %} 
{% load static %} 
{% block content %}
  <div class="container ">
    <div class="row md-0">
      <div class="col-lg-6">a</div>
    <div class="col-lg-6">
      <h1>Bring It !!</h1>
      <p>Deliver And Earn.</p>
      {% if user.is_authenticated %}
      <p> Welcome {{request.user}}</p>
      <a  href="{% url 'handlelogout' %}"><input type="button" value="LogOut" class="btn btnc"></a>
      {% else %}
      <a  href="{% url 'signup' %}"><input type="button" value="SignUp" class="btn btnc"></a>
      <a  href="{% url 'login' %}"><input type="button" value="Signin" class="btn btnc"></a>
      {% endif %}
    </div>
  </div>
  </div>
  
{% endblock %}