{% extends "homepage.html" %} 
{% load static %} 
{% block content %}
<div class="row m-0">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6">
        <h1>Bring it</h1>
    </div>
</div>
<div class="row m-0">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6">
        <form action="login" method="post">
            {% csrf_token %}
            <br/>
           <!-- Enter Your Email: -->
            <input  placeholder="Your email" type="email"id="Email" name="email">
           <!-- Enter Your Password: -->
            <input placeholder="Your password"  type="password" id="Password" name="pass">
            <input type="submit" value="SignIn"><br><br>
        
            <a href="#"><button type="button" class="btn btnc" >SignUp</button></a>
        </form>
    </div>
</div>

{% endblock %}